<a href="https://colab.research.google.com/github/Nikhil09-hub/Python/blob/main/Practice-Problems/Assigning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Multiple value assignment
x, y, z = 10, 20, 30
print("x =", x, "y =", y, "z =", z)

x = 10 y = 20 z = 30

In [ ]:
#Same value assignment
a=b=0
print("a =",a,"b =",b)

a = 0 b = 0

In [ ]:
#Swapping variables
a,b=10,20
a,b=b,a
print("a =",a,"b =",b)

a = 20 b = 10

In [6]:
#Assigning elements into a list
a=list()         #you can use a=[] also for declaring a list
for i in range(5):
  a.append(input())
print(a)

54
"fsfsd"
sds
sds
dsds
['54', '"fsfsd"', 'sds', 'sds', 'dsds']

In [7]:
a=[32]*5
print(a)

[32, 32, 32, 32, 32]

In [10]:
a=[None]*5
print(type(a[1]))

<class 'NoneType'>

In [12]:
a=[None]*5
print(type(a[1]))
for i in range(5):
  a[i]=input(f"Enter {i+1} element: ")
print(a)

Enter 1 element: 34
Enter 2 element: 54
Enter 3 element: "fd"
Enter 4 element: fdfd
Enter 5 element: trmkl
['34', '54', '"fd"', 'fdfd', 'trmkl']

In [15]:
data=[43,"Hello",{"key":"value"},True,None]
for item in data:
  print("Type of ",item,"is", type(item))

Type of  43 is <class 'int'>
Type of  Hello is <class 'str'>
Type of  {'key': 'value'} is <class 'dict'>
Type of  True is <class 'bool'>
Type of  None is <class 'NoneType'>